.comp1{
  display: flex;
justify-content: flex-end;
font-size: large;
margin: 5px;
margin-right: 25px;
}
.check{
  margin-right: 5px;
}
.toggle{
    display: flex;
    margin-bottom: 2px;
    margin-left: 5px;
}
.ToggleOnIcon{
   color: #f0c14b;
   transform: scale(1.2);
   margin-right: 5px;
}